.formContainer {
  margin-top: 6%;
  margin-left: 2.5%;
  font-size: 21px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.formContainer input {
  width: 100%;
  border-radius: 3px;
  margin-right: 5px;
  margin-left: 5px;
}

.formContainer label, button, p {
  margin-left: 7%;
  margin-bottom: 5px;
  margin-top: 5px;
}
.botaoAdicionar{
  margin-top: 10px;
}