.formContainer {
  font-size: 21px;
  align-items: center;
  margin-top: 10%;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 99%;
}
.formContainer input {
  width: 75%;
  border-radius: 7px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.formContainer label, button {
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
}
.botaoAdicionar{
  margin-top: 20px;
}