:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
    background-image: url(../bola-de-neve-logo-preto.webp);
    background-size: 45vh 45vh;
    background-position: center;
    text-align: center;
}
.menuHamburgerBotao {
    position: absolute !important;
    background-color: white !important;
    color: black !important;
    left: 0 !important;
    top: 0 !important;
    margin-left: 1% !important;
    margin-top: 1% !important;
}
.versiculoDiv {
    display: inline-flexbox;
    position: absolute;
    padding: 0.5%;
    margin-top: 25vh;
    width: 95%;
}
.contadorDiv {
    display: inline-flexbox;
    position: absolute;
    padding: 0.5%;
    margin-top: 25vh;
    width: 95%;
}
.visitantesDiv {
    display: inline-flexbox;
    position: absolute;
    padding: 0.5%;
    margin-top: 5vh;
    width: 95%;
}
.totalPessoas {
    font-size: 2.5rem;
}
.botaoContar {
    margin-top: 10vh;
    background-color: #ffffff;
    color: #333333;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.botaoContar:hover {
    background-color: #29AB87;
    color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
}
.botaoEnviar {
    margin-top: 10vh;
    background-color: #ffffff;
    color: #333333;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.botaoEnviar:hover {
    background-color: #29AB87;
    color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
}
.avisoSucesso {
    font-size: 1.5rem;
    color: #29AB87;
}
.formulario {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.form-control label {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.form-control input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}
.botaoAdicionar {
  background-color: #3cba54;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}
.botaoAdicionar:hover {
    background-color: #16a085;
}

.botaoEnviarForm {
    background-color: #3498db;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}